/* PAGE */

body {

  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  background:

    radial-gradient(circle, #ffd84d, #f5a400);

  color: #111;

  text-align: center;

}

/* TITLE */

h1 {

  margin: 0;

  padding: 25px;

  background: #e21b23;

  color: white;

  font-size: 45px;

  font-weight: 900;

  text-transform: uppercase;

  letter-spacing: 3px;

  border-bottom: 10px solid #0057b8;

  text-shadow: 3px 3px #000;

}

/* BOARD - 6 HIGH */

#board {

  display: grid;

  grid-template-rows: repeat(6, 1fr);

  grid-auto-flow: column;

  gap: 16px;

  width: fit-content;

  margin: 30px auto;

  padding: 30px;

  background: linear-gradient(

    #e51b23,

    #b90000

  );

  border: 14px solid #8c0000;

  border-radius: 25px;

  box-shadow:

    0 15px 0 #650000,

    0 25px 35px #333;

}

/* FLIP CARD */

.card {

  width: 125px;

  height: 170px;

  background: #ffffff;

  border-radius: 8px;

  border: 5px solid #eeeeee;

  padding: 8px;

  box-shadow:

    0 10px 0 #bbbbbb;

  transition: .3s;

}

/* PHOTO */

.card img {

  width: 115px;

  height: 115px;

  object-fit: cover;

  border-radius: 4px;

  border: 4px solid #e21b23;

  background: #ff3b1f;

}

/* NAME STRIP */

.card p {

  margin-top: 7px;

  background: #e21b23;

  color: white;

  padding: 6px;

  font-size: 14px;

  font-weight: bold;

  border-radius: 3px;

}

/* WHEN SELECTED */

.card.selected {

  transform:

    perspective(300px)

    rotateX(75deg);

  opacity: .35;

}

/* BUTTONS */

button {

  background: #0057b8;

  color: white;

  border: 5px solid white;

  border-radius: 15px;

  padding: 15px 30px;

  font-size: 22px;

  font-weight: bold;

  box-shadow: 0 7px #00336b;

}

/* FORMS */

input {

  padding: 14px;

  font-size: 18px;

  border-radius: 10px;

  border: 3px solid #222;

}

/* LEADERBOARD */

#leaderboard {

  background:white;

  max-width:700px;

  margin:30px auto;

  padding:25px;

  border-radius:20px;

  border:8px solid #0057b8;

  font-size:22px;

}
